.main {
  margin: 0.5rem 0.7rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.containerImg {
  margin-bottom: 1rem;
  border-radius: 5px;
  position: relative;
  height: 55vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: end;
  box-shadow: inset -3px -90px 35px rgba(19, 18, 18, 0.8);
  h2 {
    color: aliceblue;
    margin: 0 1.5rem 1.5rem 1.5rem;
  }
  img {
    z-index: -3;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
